<!DOCTYPE html>
{%extends 'base.html'%}

{%load static%}
{% load crispy_forms_tags %}

{%block background%}
"/static/images/blog_background2.jpg"
{%endblock%}

{%block content%}
<br>
<br>
<br>
<div class="container">
  <h1>Sign up</h1>
  <p>This authentication is used to assign names to the comments, you can use fictional details for that purpose.</p>
  <form method="POST" novalidate>
    {%csrf_token%}
    {{form|crispy}}
    <input type="submit" class='btn btn-primary' value="Sign up">
  </form>

</div>
{%endblock%}
