<!DOCTYPE html>
{% extends 'base.html' %}

{%load static%}
{%block background%}
"/static/images/blog_background2.jpg"
{%endblock%}

{%block content%}


<div class="jumbotron">
  <div class="container">

    <h1>Thank you for your visit!</h1>
    <h3>If you want to get in touch with me, don't hesitate.</h3>
    <br>
    <br>
    <a style='color:black;' class="project-codelink" href="{% url 'portfolio_index'%}"><i class="fas fa-hand-point-right fa-2x"></i><strong>Contacts</strong></a>

  </div>
</div>

{%endblock%}
