<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>


    <!-- bootstrap4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- fontawesome.com glyphicons & co -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Rufina" rel="stylesheet">

    <!-- master css -->
    <link rel="stylesheet" href="{% static '/my_css/master.css' %}">

    <!-- medium style editor -->
  <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

  <!-- colorful social media buttons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>



  <body>
    <nav class='navbar sticky-top'>
      <div class="whole-navbar">
        <ul class='nav'>

          <li class='nav-item'><a id='IndexNav' class='nav-link font-link' href="#aboutme_start">About me</a></li>
          <li class='nav-item'><a id='IndexNav' class='nav-link font-link' href="#portfolio_start">Portfolio</a></li>
          <li class='nav-item'><a id='IndexNav' class='nav-link font-link' href="#contact_start">Contact me</a></li>






          <li class='nav-item nav-item-brand'><a class='nav-link nav-item-brand-font' href="{% url 'index' %}">Jan Frings</a></li>



          <li class='nav-item nav-item-projects'><a id='IndexNav' class='nav-link font-link' href="{% url 'projects'%}">Projects</a></li>

          <li class="nav-item dropdown nav-item-login">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-tie"></i></a>
              {% if not user.is_authenticated %}
              <div class="dropdown-menu" aria-labelled-by="navbarDropdown">
                <a class="dropdown-item" href="{% url 'blog:signup' %}">Sign up</a>
                <a class="dropdown-item" href="{% url 'blog:login' %}">Login</a>
              </div>
              {%else%}
              <div class="dropdown-menu" aria-labelled-by="navbarDropdown">
                <a class="dropdown-item" href="{% url 'blog:logout' %}">Log out</a>
              </div>
              {%endif%}
          </li>
        </ul>
      </div>
    </nav>



      {%block content%}
      {%endblock%}


    <!-- bootstrap4 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- master JavaScript -->
    <script src="{% static '/js/master.js' %}"></script>
  </body>
  <footer>
    <div class="container">
      <p class='font-footer-intro' style="color:white;">handcrafted by me <strong>©</strong><span class='font-footer'> Jan Frings</span></p>
      <br>
    </div>
  </footer>
</html>
