<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>


    <!-- bootstrap4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- fontawesome.com glyphicons & co -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Rufina" rel="stylesheet">

    <!-- master css -->
    <link rel="stylesheet" href="{% static '/my_css/master.css' %}">

    <!-- colorful social media buttons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>


<!-- different backgrounds are injected by template inheritance -->
<!-- the attributes for echt background are the same and therefor defined here -->
  <body class='base-body'
        background= {%block background%} {%endblock%}
        style = " background-size: cover;
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-position: center;">


  <nav class="navbar navbar-light navbar-expand-lg sticky-top nav">
    <div class="container">


    <li class="nav-item "><a class=' nav-link nav-item-brand-font' href="{% url 'index' %}">Jan Frings</a></li>

    <div class="toggle-button">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <span class=" navbar-toggler-icon"></span>
    </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active"><a class='nav-link font-link' href="{% url 'portfolio_index'%}">Portfolio<span class="sr-only">(current)</span></a></li>
        <li class="nav-item active"><a class='nav-link font-link' href="{% url 'projects'%}">Projects<span class="sr-only">(current)</span></a></li>
      </ul>
      {%block navbar%}
      {%endblock%}
      <li class="nav-item dropdown my-2 my-lg-0">
        <a class="nav-link dropdown-toggle my-2 my-sm-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-tie my-2 my-sm-0"></i></a>
          {% if not user.is_authenticated %}
          <div class="dropdown-menu" aria-labelled-by="navbarDropdown">
            <a class="dropdown-item" href="{% url 'blog:signup' %}">Sign up</a>
            <a class="dropdown-item" href="{% url 'blog:login' %}">Login</a>
          </div>
          {%else%}
          <div class="dropdown-menu" aria-labelled-by="navbarDropdown">
            <a class="dropdown-item" href="{% url 'blog:logout' %}">Log out</a>
          </div>
          {%endif%}
        </li>
      </div>
      </div>
    </nav>



      {%block content%}
      {%endblock%}



    <!-- bootstrap4 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- master JavaScript -->
    <script src="{% static '/js/master.js' %}"></script>
  </body>
  <footer>
    <div class="container">
      <p class='font-footer-intro' style="color:white;">handcrafted by <strong>©</strong><span class='font-footer'> Jan Frings</span></p>
      <br>
    </div>
  </footer>
</html>
