<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}

{%block background%}
"/static/images/ggbridge.jpg"
{%endblock%}

{%block navbar%}
<li class='nav-item nav-item-aboutme'><a class='nav-link font-link' href="#aboutme_start">About me</a></li>
<li class='nav-item nav-item-timeline'><a class='nav-link font-link' href="#portfolio_start">Timeline</a></li>
<li class='nav-item nav-item-contactme'><a class='nav-link font-link' href="#contact_start">Contact me</a></li>
{%endblock%}



{%block content%}

<!-- main aboutme table -->

<div class='container'>
  <h1 style='margin-top:2em; margin-bottom:1em;'>About me</h1>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <table>

        <tr>
          <td>
            <!-- left content table cell  -->
            <h5>Hi, I'm Jan.</h5>
            <br>
            <br>
            <a class="anchor" id="aboutme_start"></a>

            <table>
              <tr>
                <td class='aboutme_details aboutme_row'><strong>Name</strong> </td>
                <td class='aboutme_devider aboutme_row'><strong>:</strong> </td>
                <td class='aboutme_row'>Jan Theodor Frings</td>
              </tr>
              <tr>
                <td class='aboutme_details aboutme_row'><strong>Age</strong> </td>
                <td class='aboutme_devider aboutme_row'><strong>:</strong> </td>
                <td class='aboutme_row'>24 Years</td>
              </tr>
              <tr>
                <td class='aboutme_details aboutme_row'><strong>Nationality</strong> </td>
                <td class='aboutme_devider aboutme_row'><strong>:</strong> </td>
                <td class='aboutme_row'>Germany</td>
              </tr>
              <tr>
                <td class='aboutme_details aboutme_row'><strong>Location</strong> </td>
                <td class='aboutme_devider aboutme_row'><strong>:</strong> </td>
                <td class='aboutme_row'>Aachen, NRW</td>
              </tr>
              <tr>
                <td class='aboutme_details aboutme_row'><strong>Degree</strong> </td>
                <td class='aboutme_devider aboutme_row'><strong>:</strong> </td>
                <td class='aboutme_row'>Bachelor of Civil Engineering</td>
              </tr>
            </table>
          </td>

          <td>
            <!-- right image table cell -->
            <img class='aboutme-image' src="{% static 'images/icon.jpg'%}" alt="" width="350" height="350">
          </td>
        </tr>
      </table>
      </div>
    </div>

    <div class='container'>
      <h1 style='margin-top:2em;  margin-bottom:1em;'>Timeline</h1>
    </div>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <a class="anchor" id="portfolio_start"></a>

        <h4 style=' text-align: center;
                    margin-top:1em;'>
          This Timeline breaks down the main aspects of my education and work history.
          <br>
        </h4>
        <h5 style=' text-align: center;
                    margin-bottom:4em;'>

        *You will find a traditional CV download button at the end.
      </h5>


        <table class="icons-timeline">
          <tr>
           <td class='fas fa-graduation-cap fa-3x'></td>
           <td></td>
           <td></td>
           <td class='fas fa-briefcase fa-3x'></td>
         </tr>
        </table>

        <table class='resume-table'>

          <tr>
           <td class='content-left'>
            <h5><strong>August 2010 - June 2013</strong></h5><br>

             <strong>Abitur</strong> <br>
             <strong>Gesamtschule Niederzier, Germany</strong><br>
             <br>
             The achievment of an Abitur degree in Germany is a higher education entrance
             qualification. <br>
             It's approximately equivalent to British A levels.
           </td>
           <td></td>
         </tr>

         <tr>
          <td class='content-left'>
            <h5><strong>October 2013 - August 2017</strong></h5> <br>

            <strong>University studies (Bachelor civil engineering)</strong><br>
            <strong>FH Aachen, Germany</strong> <br>
            <br>
            During my time as an engineering student, I had to develop a certain skill set.
            Among the most important skills were analytical thinking as well as strong communication to ensure successful teamwork. <br>
            Basically, every aspect of an engineers mindset has to point towards solving problems.
          </td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td class='content-right'>
            <h5><strong>Mai 2016 - September 2017</strong></h5> <br>

            <strong>Working Stundent</strong><br>
            <strong>Hegger & Partner Engineering Aachen</strong><br>
            <br>
            Alongside my studies, I worked as a working student in a local engineering office. <br>
            This gave me the opportunity to grasp an understanding of real-world engineering workflow and office politics.
          </td>
        </tr>


         <tr>
          <td></td>
          <td class='content-right'>
            <h5><strong>October 2017 - September 2018</strong></h5> <br>

            <strong>Work & Travel</strong> <br>
            <strong>Australia</strong> <br>
            <br>
            Traveling a foreign country on my own was much needed to lift my English skills to the next level and to reflect on what is important to me and set future goals accordingly.
          </td>

        </tr>

        <tr>
          <td></td>
          <td class='content-right'>
            <h5><strong>December 2018 - April 2018</strong></h5> <br>

            <strong>Season worker</strong> <br>
            <strong>Mackay´s Bananafarm, Australia</strong><br>
            <br>
            <br>
            <h5><strong>June 2018 - August 2018</strong></h5> <br>

            <strong>Electrican Labour</strong> <br>
            <strong>Atom Resources, Australia</strong><br>
            <br>
            <br>
            To make a living in Australia it was crucial to adapt to the environment and the people.
            Exploring unknown fields of profession was a necessary adventure alongside. <br>
          </td>
        </tr>

        <tr>
          <td></td>
          <td class='content-right'>
            <h5><strong>Septembers 2018</strong></h5> <br>

            <strong>Self studies</strong><br>
            <strong>Aachen, Germany</strong><br>
            <br>
            Back in Germany my curiosity for software development took over and I looked deeper into the topic. <br>
            After a lot of research, I choose to become a self-taught software engineer. <br>
            This website is my first project and the attempt to make practical use of my
            obtained skills.
          </td>
        </tr>

        <tr>
          <td class='content-left'>
            <h5><strong>October 2018</strong></h5> <br>

            <strong>University studies (Master civil engineering)</strong> <br>
            <strong>FH Aachen, Germany</strong> <br>
            <br>
            The original plan was to finish my master degree in civil engineering which became my backup plan. <br>
            This strategy allowed me to start light hearted, but to go all in on my software engineering education as soon as I had enough confidence in my new professional goal.
          </td>
          <td></td>
        </tr>
       </table>

       <br>
       <br>
       <br>
       <br>

       <table class='resume-download-table'>
         <tr>
           <td>
             <h5><strong>*Curriculum vitae PDF-File right here</strong></h5>
           </td>
           <tr>
             <td class='resume-download-table'>
               <button class='resume-download' type="button">
               <a class='resume-download-font' href="{% url 'resume_download'%}"><i class="fas fa-file-download fa-3x"></i></a>
             </button>
           </td>
           </tr>

         </tr>
       </table>

     </div>
    </div>







    <div class='container'>
      <h1 style='margin-top:2em;  margin-bottom:1em;'>Contact me</h1>
    </div>

    <a class="anchor" id="contact_start"></a>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">

    <h5>Feel free to contact me using any of the contacts below</h5>
    <br>

    <table>

        <tr>
          <td class='contact_icon'><a class='contact_icon' href="{% url 'emailcontact:email_contact'%}"><i class="fas fa-envelope fa-3x"></i></a></td>
          <td class='contact_table'><a class='black' href="#"><strong>E-mail</strong><br>Jan-Frings@gmx.de </a></td>

          <td></td>

          <td class='contact_icon'><a class='contact_icon' href="#"><i class="fas fa-info fa-3x"></i></a></td>
          <td class='contact_table'><a class='black' href="#"><strong>Indeed</strong></a></td>
        </tr>

        <tr>
          <td class='contact_icon'><a class='contact_icon' href="https://github.com/JanFrings"><i class="fab fa-github-square fa-3x"></a></i></td>
          <td class='contact_table'><a class='black' href="#"><strong>GitHub</strong><br>JanFrings</a></td>

          <td></td>

          <td class='contact_icon'><a class='contact_icon' href="#"><i class="fab fa-linkedin fa-3x"></i></a></td>
          <td class='contact_table'><a class='black' href="#"><strong>LinkedIn</strong></a></td>
        </tr>

    </table>
  </div>
</div>

{%endblock%}
