<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
{%block background%}
"/static/images/black_paper.jpg"
{%endblock%}

{%block navbar%}
<li class='nav-item nav-item-website'><a class='nav-link font-link' href="#website_start">Website</a></li>
<li class='nav-item nav-item-blog'><a class='nav-link font-link' href="#blog_start">Blog</a></li>
<li class='nav-item nav-item-nfl'><a class='nav-link font-link' href="#nfl_start">NFL</a></li>
{%endblock%}

{%block content%}
<div  class="jumbotron"
      style="margin-top :6em;">
  <div class="container">
    <h1>Thank you for visiting!</h1>
    <p>You'll find a short description of each project along with the technical knowledge I had to acquire.</p>
  </div>
</div>

<!-- //////////////////Website Project//////////////// -->
<a class="anchor" id="website_start"></a>
<div class='container'>
  <h1 style='margin-top:3em; margin-bottom:0.5em; color:white;'>Website project</h1>
</div>
<div class="jumbotron">
  <div class="container">
    <table>
      <tr>
        <td class='project_window'>
          <a href="{%url 'index'%}">
            <img width="480" height="270" src="{%static 'images/project_website.png'%}" alt="Uuups image is missing"><br>
          </a>
        </td>
        <td class='project_info'>
          <p><strong>#Build a static website</strong></p>
          <br>
          <p>
            A closer look at web development revealed that a basic understanding of different coding languages was indispensable.<br>
            <strong>• HTML, CSS, JavaScript</strong>
            <br><br>
            To make these languages in different files work together as one website, a framework technology and a package manager was needed.<br>
            <strong>• Django, Anaconda </strong>
            <br><br>
            The small progress I made each day had to be saved and documented somewhere, that's when a code hosting service comes in handy.<br>
            <strong>• GitHub </strong>
            <br><br>
            Finally, a deployment service was necessary to make the website accessible worldwide.<br>
            <strong>• Pythonanywhere</strong>
          </p>
          <!-- Or check out some insights on how I build the application.<br>
          <br>
          <a class="project-codelink" href="#">Code</a> -->
        </td>
      </tr>
      <tr>
        <td> </td>
        <a> </a>
      </tr>
    </table>
  </div>
</div>


<!-- //////////////////Blog Project//////////////// -->
<a class="anchor" id="blog_start"></a>
<div class='container'>
  <h1 style='margin-top:3em; margin-bottom:0.5em; color:white;'>Blog application</h1>
</div>
<div class="jumbotron">
  <div class="container">
    <table>
      <tr>
        <td class='project_window'>
          <a href="{% url 'blog:post_index' %}">
            <img width="480" height="270" src="{%static 'images/project_blog.png'%}" alt="Uuups image is missing">
          </a>
          <br>
          <br>
          <p><strong>Take a look </strong><i class="fas fa-hand-point-up fa-2x"></i> </p>
        </td>
        <td class='project_info'>

          <p><strong>#Add functionality</strong></p>
          <br>
          <p>
            The next step was to add a feature that allows interaction.<br>
            This required back-end understanding of how to save data to a database and query it when needed.<br>
            <strong>• Python</strong>
            <br><br>
          </p>

        </td>
      </tr>
    </table>

  </div>
</div>


<!-- //////////////////NFL Project//////////////// -->
<a class="anchor" id="nfl_start"></a>
<div class='container'>
  <h1 style='margin-top:3em; margin-bottom:0.5em; color:white;'>Data analysis</h1>
</div>
<div class="jumbotron">
  <div class="container">

    <table>
      <tr>
        <td class='project_window'>
          <a href="{% url 'nfl:nfl_index' %}">
            <img width="480" height="270" src="{%static 'images/project_nfl.jpg'%}" alt="Uuups image is missing">
          </a>
          <br>
          <br>
          <p><strong>Take a look </strong><i class="fas fa-hand-point-up fa-2x"></i> </p>
        </td>
        <td class='project_info'>
          <p><strong>#Collect, filter, manipulate data</strong></p>
          <br>
          <p>
            This project uses a data science approach in order for me to practice the process of drawing insights from a data set.<br>
            <br>
            First I needed to collect meaningful data which I did with the help of a scraper tool.<br>
            <strong>• Beautiful Soup, Python</strong>
            <br><br>
            The raw scraped data had to be filtered. I used software that supports interactive data science and scientific computing.<br>
            <strong>• Jupyter Notebook, Python</strong>
            <br>
            <br>
            The concluding step was to manipulate the filtered data in such a way that insights were easily displayed. I used open source data science packages for that purpose.<br>
            <strong>• NumPy, Pandas, Matplotlib, Seaborn, Stats Models, Scikit learn</strong>
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>



{%endblock%}
