<!DOCTYPE html>
{%extends 'base.html'%}

{%block background%}
"/static/images/blog_background2.jpg"
{%endblock%}

{%block navbar%}
<li class='nav-item nav-item-website'><a class='nav-link font-link' href="#aboutme_start">Website</a></li>
<li class='nav-item nav-item-blog'><a class='nav-link font-link' href="#portfolio_start">Blog</a></li>
<li class='nav-item nav-item-nfl'><a class='nav-link font-link' href="#contact_start">NFL</a></li>
{%endblock%}

{%block content%}
<div class="container jumbotron">
  <h1>Hey check out my projects!</h1>
  <p>To be able to use the functionality you have to sign up first.</p>
  <p>You won´t get any junk and your data is save as well!</p>
</div>



<div class="jumbotron">
  <div class="container">
    <table>
      <tr>
        <td class='project_window'>Project window <a href="{% url 'blog:post_index' %}">Blog</a> </td>
        <td class='project_info'>Info</td>
      </tr>
    </table>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <table>
      <tr>
        <td class='project_window'>different</td>
        <td class='project_info'>Info</td>
      </tr>
    </table>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <table>
      <tr>
        <td class='project_window'> Project window <a href="{% url 'nfl_stats:nfl_index' %}">NFL</a> </td>
        <td class='project_info'>Info</td>
      </tr>
    </table>
  </div>
</div>

{%endblock%}
