<!DOCTYPE html>
{% extends 'base.html' %}

{%load static%}
{%block background%}
"/static/images/blog_background.jpg"
{%endblock%}

{% block content %}


        <h1 class='posttitle loader'>{{ post.title }}</h1>

        {% if post.published_date %}
            <div class="date postdate">
                {{ post.published_date }}
            </div>

        {% else %}
            <a class="btn btn-outline-dark" href="{% url 'blog:post_publish' pk=post.pk %}">Publish</a>
        {% endif %}

      <p class='postcontent' >{{ post.text|safe|linebreaksbr }}</p>
      <p class='postcontent' >{{ post.mentor|safe|linebreaksbr }}</p>

      <hr>
        <a class="btn btn-primary btn-comment" href="{% url 'blog:post_comment' pk=post.pk %}">Add comment</a>

      {% for comment in post.comments.all %}

      <p> {{comment.text}} </p>
      <p> {{comment.author}}</p>
      <p> {{comment.created_date}} </p>


      {%endfor%}



{% endblock %}
