<!DOCTYPE html>
{% extends 'base.html' %}
{%load static%}


{%block background%}
"/static/images/blog_background2.jpg"
{%endblock%}

{% block content %}

<div class="jumbotron">
  <div class="container">

    <h3>What you see and what you hear makes your life experience.</h3>
    <br>
    <p>This blog is helping me to keep track of people who I decided to listen to.</p>
    <p>Maybe it can help you to find some inspiration and restore hope in humanity as well!</p>
  </div>
</div>

<table class='blog-index-table'>
  <tr>
    <td>
      <a href="{% url 'blog:shetty' %}">
        <!-- used nested divs to create an ancestor relationship for the relativ-absolute position and the overlay effect  -->
        <div class="image-container">
          <div class="overlay">
            <div class="text">
              Jay Shetty <br> Mindful Happiness
            </div>
          </div>
        <img src="{% static 'images/shetty.jpg' %}" alt="Uuups that went wrong."></a>
      </div>
    </td>
    <td>
      <a href="{% url 'blog:goggins' %}">
        <div class="image-container">
          <div class="overlay">
            <div class="text">
              David Goggins <br> Body & Mind Control
            </div>
          </div>
        <img src="{% static 'images/goggins.jpg'%}" alt="Uuups that went wrong."></a>
      </div>
    </td>
    <td>
      <a href="{% url 'blog:vaynerchuk' %}">
        <div class="image-container">
          <div class="overlay">
            <div class="text">
              Gary Vaynerchuk <br> Career & Life adviece
            </div>
          </div>
        <img src="{% static 'images/vaynerchuk.jpg'%}" alt="Uuups that went wrong."></a>
      </div>
    </td>
  </tr>
</table>

{%endblock%}
