<!DOCTYPE html>
{% extends 'base.html' %}
{%load static%}


{%block background%}
"/static/images/blog_background2.jpg"
{%endblock%}

{% block content %}

<div class="jumbotron">
  <div class="container">

    <h2>"Quotes"</h2><br>
    <br>
    <p>
      This project helped me to get familar with backend processes.<br>
      Now it's repurposed as a tool to keep track of quotes I'd like
      to remember.
    </p>
  </div>
</div>
<div class="container">


<table class='blog-index-table'>
  <tr>
    <td class="blog-cell">
      <a href="{% url 'blog:shetty' %}">
        <!-- used nested divs to create an ancestor relationship for the relativ-absolute position and the overlay effect  -->
        <div class="image-container">
          <div class="overlay">
            <div class="image-text">
              Jay Shetty <br> Mindful Happiness
            </div>
          </div>
        <img class="blog-image" src="{% static 'images/shetty.jpg' %}" alt="Uuups that went wrong."></a>
      </div>
    </td>
    <td class="blog-cell">
      <a href="{% url 'blog:goggins' %}">
        <div class="image-container">
          <div class="overlay">
            <div class="image-text">
              David Goggins <br> Body & Mind Control
            </div>
          </div>
        <img class="blog-image" src="{% static 'images/goggins.jpg'%}" alt="Uuups that went wrong."></a>
      </div>
    </td>
    <td class="blog-cell">
      <a href="{% url 'blog:vaynerchuk' %}">
        <div class="image-container">
          <div class="overlay">
            <div class="image-text">
              Gary Vaynerchuk <br> Career & Life adviece
            </div>
          </div>
        <img class="blog-image" src="{% static 'images/vaynerchuk.jpg'%}" alt="Uuups that went wrong."></a>
      </div>
    </td>
  </tr>
</table>
</div>
{%endblock%}
