<!DOCTYPE html>
{% extends 'base.html' %}

{%load static%}
{%block background%}
"/static/images/blog_background2.jpg"
{%endblock%}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <table class='blog-post-table'>
      <tr>
        <td class='blog-post-image-cell'>
          <img class='blog-post-image' src="{% static 'images/vaynerchuk.jpg'%}" alt="">
        </td>
        <td class='blog-post-intro'>
          <h1>Gary Vaynerchuk</h1>
          <p>blabla</p>
        </td>
        <td>

          <table>
            <tr>
              <td> <a class="blog-post-socialmedia-icons fa fa-youtube fa-2x" href="https://www.youtube.com/user/GaryVaynerchuk"></a> </td>

            </tr>
            <tr>
              <td><a class="blog-post-socialmedia-icons fa fa-instagram fa-2x" href="https://www.instagram.com/garyvee/"></a></td>

            </tr>
            <tr>
              <td><a class="blog-post-socialmedia-icons fa fa-twitter fa-2x" href="https://twitter.com/garyvee?lang=de"></a></td>

            </tr>
          </table>

        </td>
      </tr>
    </table>

  </div>
</div>

<br>
<br>
<br>



{%regroup post_list by mentor as mentor_list%}

{%for mentor in mentor_list%}
{%for post in mentor.list%}
{% if post.mentor == "Vaynerchuk" %}

<div class="jumbotron">
  <div class="container">
    <table>
      <tr>
        <td class='post-title'>{{post.title}}</td>
      </tr>
      <tr>
        <td class='post-text'>{{post.text}}</td>

        {% if post.image %}
        <td class='post-image'><img class='post-image' src="{{post.image.url}}" alt="not showing"></td>
        {%endif%}

        {% if post.url %}
        <td class='post-url'><p><a class='blog-post-socialmedia-icons fa fa-youtube fa-2x' href="{{post.url}}"></a></p></td>
        {%endif%}
      </tr>
    </table>
  </div>
</div>

{%endif%}
{%endfor%}
{%endfor%}



{% endblock%}
